@import "../_vars";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    left: 0;
  }

  100% {
    left: -100%;
    opacity: 0
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    margin-left: calc(100% - 20px);
  }

  1% {
    opacity: 1;
    margin-left: calc(100% - 20px);
  }

  100% {
    opacity: 1;
    margin-left: 1px;
  }
}

@keyframes moveOut {
  0% {
    opacity: 1;
    margin-left: 1px;
  }

  99% {
    opacity: 1;
    margin-left: calc(100% - 20px);
  }

  100% {
    opacity: 0;
    margin-left: calc(100% - 20px);
  }
}