@import "../_vars";

.btn() {
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  padding: 7px;
  border: 1px solid transparent;
  border-radius: 0;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.btn(@mode, @style) when (@mode = writer) and (@style = empty) {
  background-color: #ffffff;
  color: @color-bg-writer;
  border: 1px solid @color-bg-writer;
  transition: background 100ms ease-in;

  &:hover {
    background-color: @color-bg-lite-writer;
  }
}

.btn(@mode, @style) when (@mode = writer) and (@style = full) {
  color: #ffffff;
  background-color: @color-bg-writer;
  transition: background 100ms ease-in;

  &:hover {
    background-color: #F965a0; // @todo add variable.
  }
}

.btn(@mode, @style) when (@mode = sponsor) and (@style = empty) {
  background-color: #ffffff;
  color: @color-bg-sponsor;
  border: 1px solid @color-bg-sponsor;
  transition: background 100ms ease-in;

  &:hover {
    background-color: @color-bg-lite-sponsor;
  }
}

.btn(@mode, @style) when (@mode = sponsor) and (@style = full) {
  color: #ffffff;
  background-color: @color-bg-sponsor;
  transition: background 100ms ease-in;

  &:hover {
    background-color: #45ed77; // @todo add variable.
  }
}

.btn(@mode, @style) when (@mode = disable) and (@style = empty) {
  background-color: #ffffff;
  color: @btn-color-disabled;
  border: 1px solid @btn-color-disabled;
}

.btn(@mode, @style) when (@mode = disable) and (@style = full) {
  color: #ffffff;
  background-color: @btn-color-disabled;
  border: 1px solid @btn-color-disabled;
}