@import "../_vars";

.link-underline-alpha(@color) {
  border-bottom: 1px solid fade(@color, @link-border-alpha);
  transition: border 100ms ease-in;

  &:hover {
    border-bottom: 1px solid @color;
  }
}

.link-color(@color) {
  transition: color 150ms ease-in;

  &:hover {
    color: @color;
  }
}

.link-underline(@color) {
  transition: border 100ms ease-in;
  border-bottom: 1px solid fade(@color, 0%);

  &:hover {
    border-bottom: 1px solid fade(@color, 70%);
  }
}

.link-underline-color(@color, @colorTo) {
  transition: border 100ms ease-in;
  border-bottom: 1px solid fade(@color, @link-border-alpha);

  &:hover {
    border-bottom: 1px solid fade(@colorTo, 70%);
  }
}
