/* colors */
@color-white: #ffffff;

/* font-family */
@font-family-base: 'Source Sans Pro', 'Noto Sans', sans-serif;

/* font-size */
@font-size-base: 1.6rem;

/* header */

/* navigation */

/* layout */
@container-min-width: 300px;

/* breakpoints */